body {
    background-image: url("flowerpattern.jpg");
}

.titles {
    font-size: 1.75rem;
    font-weight: 100;
}

.background {
    border-radius: 30px;
    padding: 30px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.90);
}

.top {
    margin-top: 50px;
}

.bottom {
    margin-bottom: 50px;
}
