body {
    background-color: white;
    color: #383a47;
    font-family: 'Roboto Mono', monospace;
}

#title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 4em;
}

#includes {
    color:#f484de;
}

#default {
    color: #7ec537;
}

#numbers {
    color: #e9b33e;
}

#func {
    color: #3779c5;
}

#variable {
    color: white;
}

.background_container {
    padding : 30px;
    min-width: 100%;
    color: #383a47;
    background-color: #383a47;
    overflow: auto;
}

.internal_container {
    font-size: 1.25em;
}

.indent {
    display: block;
    padding-left: 50px;
    margin-top: -1em;
}

.dots {
    display: inline;
}